<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangsheng.sharecampus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TaskActivity" />
        <activity android:name=".activity.MyWalletActivity" />
        <activity android:name=".activity.MyCollectionActivity" />
        <activity android:name=".activity.CreateTaskActivity" />
        <activity android:name=".activity.AboutMeActivity" />
        <activity
            android:name=".activity.EditInfoActivity"
            android:exported="true" />
        <activity android:name=".activity.TaskAcceptActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.InviteActivity" />
        <activity android:name=".activity.TaskInActivity" />
        <activity android:name=".activity.TaskOutActivity" />
        <activity android:name=".activity.MySincerityActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.MyConcernActivity" />
        <activity android:name=".activity.CheckclassSkillActivity" />
        <activity android:name=".activity.RegisterActivity"/>
        <meta-data
            android:name="Mob-AppKey"
            android:value="21669efdee742" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="af66d31a3ffec6c73d2b1f457ad98eef" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>